{% extends 'base.html' %}

{% block content %}
<div class='col-10 mx-auto'>
<h1>Update Instance #{{ instance.id }}</h1>

<form method='POST'>
    {{ form.csrf_token }}

    <div>
        <label for='full_name'>{{ form.full_name.label }}</label>
        {{ form.full_name }}
        {% if form.full_name.errors %}
            <div class='alert alert-danger'>
                {% for error in form.full_name.errors %}
                     <span class='mr-1'>{{error}}</span>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div>
        <label for='email'>{{ form.email.label }}</label>
        {{ form.email }}
        {% if form.email.errors %}
            <div class='alert alert-danger'>
                {% for error in form.email.errors %}
                    <span class='mr-1'>{{error}}</span>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <button class='btn btn-primary my-3' type='submit'>Join and Continue</button>

</form>
</div>

{% endblock %}